.content {

}

.label {
    background-color: white;
}

.chartView {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h1 {
    width: 100%;
    text-align: center;
    margin: 15px 0 15px 0;
}

.h2 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.analysis {
    /*padding: 0 30px;*/
    /*align-self: flex-start;*/
}

.category {
    font-size: larger;
}

.value {

}

.comparison {
    padding-left: 30px;
}