.content {

}

.commonView {
    display: flex;
    justify-content: stretch;
}

.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chartView {
    width: 50%;
}

.tableView {
    width: 50%;
}


.table {
    table-layout: fixed;
    width: 100%;
}

.row {
    width: 100%;
    overflow: hidden;
}

.cell {
    height: var(--cell-size);
}

.cell:nth-child(1), .cell:nth-child(2) {
    width: calc(var(--cell-size)*2);
}

.cell:nth-child(3) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}