.content {

}

.commonView {
    display: flex;
    justify-content: stretch;
}

.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    table-layout: fixed;
}

th,td:nth-child(1){
    width: 50px;
}
th,td:nth-child(1){
    width: 10px;
}


.tableView {
    width: 50%;
    overflow: scroll;
}

.chartView {
    width: 50%;
}
