.header {
    height: var(--header-height);
    padding: 10px var(--page-padding);
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(var(--header-color), 1);
}

.headerItem {
    cursor: pointer;
}

.logoItem {
    composes: headerItem;
    padding-right: 10px;
}