:root {
    --cell-size: 60px;
    --page-padding: calc(var(--cell-size)/2);
    --header-height: calc(var(--cell-size));
    --footer-height: calc(var(--cell-size)*2);
}

body {
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

main {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100% - var(--header-height) - var(--footer-height));
    padding: var(--page-padding);
    background-color: rgba(230, 230, 230, 1);
}