:root {
    --cell-size: 60px;
    --page-padding: calc(var(--cell-size)/2);
    --header-height: calc(var(--cell-size));
}

body {
    margin: 0;

    width: 100vw;
    height: 100vh;
}

main {
    width: calc(100% - calc(var(--page-padding) * 2));
    min-height: calc(var(--cell-size) * 3);
    padding: var(--page-padding);
}